<!DOCTYPE html>
<html lang="en">


<body>

    {%  if messages %}
        <ul class="messages">
        {%  for message in messages %}
            <li
                {%  if message.tags %}
                     class="{{  message.tags }}"
                {%  endif %}>
                    {%  if "html_safe" in message.tags %}
                        {{ message|safe }}
                    {%  else %}
                        {{ message }}
                    {% endif %}
            </li>
        {% endfor %}

        </ul>
    {% endif %}
    <h1>Title of blog :: {{ title }} </h1>

        {{ instance_list.title }}<br/>
        {{ instance_list.content }}<br/>
        {{ instance_list.timestamp }}<br/>
        {{ instance_list.updated }}<br/>
        {{ instance_list.id }}<br/>

</body>
</html>